Задание 1:
1. Создайте Series из последовательности 15 значений, равномерно разбивающих отрезок [0,
20] (воспользуйтесь функцией linspace)
2. Определите отношение элементов полученной серии к их предыдущим элементам (*).
3. В результате необходимо получить среднее полученного вектора, оставив в нём только те
значения, которые не более чем 1.5 (**).

In [ ]:
import pandas as pd
import numpy as np

series = pd.Series(np.linspace(0, 20, num=15))
print(f'Series из 15 значений:\n{series}')

ratio = series / series.shift(1)
print(f'\nОтношение:\n{ratio}')

mean = np.mean(ratio[ratio <= 1.5])
print(f'\nCреднее полученного вектора:\n{mean}')

Series из 15 значений:
0      0.000000
1      1.428571
2      2.857143
3      4.285714
4      5.714286
5      7.142857
6      8.571429
7     10.000000
8     11.428571
9     12.857143
10    14.285714
11    15.714286
12    17.142857
13    18.571429
14    20.000000
dtype: float64

Отношение:
0          NaN
1          inf
2     2.000000
3     1.500000
4     1.333333
5     1.250000
6     1.200000
7     1.166667
8     1.142857
9     1.125000
10    1.111111
11    1.100000
12    1.090909
13    1.083333
14    1.076923
dtype: float64

Cреднее полученного вектора:
1.181677812927813

Задание 2:
Выберите все верные ответы касательно следующих четырех Series:
- pd.Series('abcde'); (1)
- pd.Series(['abcde']); (2)
- pd.Series(list('abcde')); (3)
- pd.Series("abcde"); (4)
Вопросы:
1) Серия (1) совпадает с серией (2), так как в каждом из случаев серия создаётся и
з списка строк
2) Серия (2) совпадает с серией (3), так как в каждом из случаев серия создаётся и
з списка символов
3) Серия (1) не совпадает с серией (4), так как в (4) используются двойные кавычк
и "" вместо одинарных ''

Овет: 1

In [ ]:
pd.Series('abcde')
print(pd.Series('abcde'))
pd.Series(['abcde'])
print(pd.Series(['abcde']))
pd.Series(list('abcde'))
print(pd.Series(list('abcde')))
pd.Series("abcde")
pd.Series(pd.Series("abcde"))

0    abcde
dtype: object
0    abcde
dtype: object
0    a
1    b
2    c
3    d
4    e
dtype: object

0    abcde
dtype: object

Задание 3:

Для заданного ниже объекта s проделайте следующее:
1. Создайте новый Series, значения которого совпадают со значениями s, а индексы -
целочисленные значения от 2 до 12, не включая 12.
2. Выберите из s элементы с индексами 3 и 5, после чего просуммируйте их, сохранив
результат (1).
3. Выберите из s только целочисленные элементы и вычислите их дисперсию (2). (*)
s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98],
 index=range(6, 26, 2))

In [ ]:
series = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98], index=range(6, 26, 2))

series2 = pd.Series(series.values, index=range(2, 12))
print(f'Новый series с индексами 2 - 12:\n{series2}')

#print(f'\nСумма элементов с индексами 3 и 5: {float(series[3]) + float(series[5])}')

a = series[series.apply(lambda x: isinstance(x, int))]
print(f'Дисперсия:\n{a.var()}')

Новый series с индексами 2 - 12:
2         1
3         2
4       3.1
5       hi!
6         5
7      -512
8     12.42
9      sber
10     10.1
11       98
dtype: object
Новый series с индексами 2 - 12:
76788.25

Задание 4:
1. Сгенерируйте Series из 100 значений нормально распределённой СВ
(np.random.normal с дефолтными параметрами - нулевым средним и единичной
дисперсией).
2. Возведите каждое значение серии в 3 степень, а значения индекса увеличьте в 3
раза.
3. Ответьте на следующие вопросы
 1) Выведите сумму элементов, строго меньших 2.6, имеющих нечётные
значения индекса.
 2) Выведите количество значений серии меньше нуля.
Для того, чтобы результаты были воспроизводимы, используйте np.random.seed(242)

In [ ]:
np.random.seed(242)

series = pd.Series(np.random.normal(size=100)**3, index = [x*3 for x in range(100)])
print(f'Series:\n{series}')

print(f'\nСумма: {series[(series.index % 2 != 0) & (series < 2.6 )].sum()}')

print(f'\nКоличество значений меньше 0: {series[series<0].count()}')

Series:
0     -0.045698
3      0.003271
6      0.980718
9      6.219024
12    -0.411874
         ...
285    0.858176
288    0.400829
291   -0.405199
294   -2.606764
297    0.000143
Length: 100, dtype: float64

Сумма: -15.150748101821666

Количество значений меньше 0: 51

Задание 5:

In [ ]:
data = pd.read_table("wr88125.txt", sep = ";", na_values='     ', header=None)

data.columns = ["index", "year", "month", "day", "min_t", "average_t", "max_t", "rainfall"]

data.drop('index', axis=1, inplace=True)
print(f'Таблица после удаление index:\n{data}')

print(f'{data.info()}')

max_year = data.isnull().groupby(data['year']).sum().sum(axis=1).idxmax()
print(f'\nГод с наибольшим количеством пропусков: {max_year}')

data['date'] = pd.to_datetime(data[['year', 'month', 'day']])
data.drop(['year', 'month', 'day'], axis=1, inplace=True)

print(f'Таблица после объединение год, месяц, день:\n{data}\n')

data['RangeOfTemp'] = 0
data['DaysWithoutRain'] = 0

for i in range(len(data)):
    min_t = data.loc[i, 'min_t']
    max_t = data.loc[i, 'max_t']
    temp_range = max_t - min_t
    data.loc[i, 'RangeOfTemp'] = temp_range

NoRain = 0
for i in range(len(data)):
    data.loc[i, 'DaysWithoutRain'] = NoRain
    rainfall = data.loc[i, 'rainfall']
    if rainfall == 0.0: NoRain += 1
    else: NoRain = 0

print(f'Таблица после вычисление размаха температур и дней засухи:\n{data}\n')

MaxNoRain = data['DaysWithoutRain'].max()
print(f'\nСамый длинный период засухи: {MaxNoRain}')

AVGtemp = data.groupby(pd.DatetimeIndex(data['date']).year)['average_t'].mean()
AVGrain = data.groupby(pd.DatetimeIndex(data['date']).year)['rainfall'].sum()

Warm = AVGtemp.idxmax()
print(f'\nСамый тёплый год: {Warm}\n')
Cold = AVGtemp.idxmin()
print(f'Самый холодный год: {Cold}\n')

MoreRain = AVGrain.idxmax()
print(f'Год с наибольшим количеством осадков: {MoreRain}')
LowRain = AVGrain.idxmin()
print(f'Год с наименьшим количеством осадков: {LowRain}')

filter = data[data['average_t'] < -30]
print(f'\nНаблюдения с средней температурой ниже -30:\n{filter}')

filter2 = data[(data['average_t'] > 27) & (data['DaysWithoutRain'] > 3)]
print(f'\nНаблюдения с средней температурой выше 27 и количеством дней без осадков больше 3:\n{filter2}')

Таблица после удаление index:
       year  month  day  min_t  average_t  max_t  rainfall
0      1960      1    1   -6.9       -5.4   -3.8       0.1
1      1960      1    2  -14.4      -10.0   -6.7       0.5
2      1960      1    3  -21.7      -19.7  -13.4       0.0
3      1960      1    4  -24.9      -21.4  -16.9       0.0
4      1960      1    5  -18.3       -8.0   -3.3       4.1
...     ...    ...  ...    ...        ...    ...       ...
22276  2020     12   27  -41.7      -36.3  -32.8       0.0
22277  2020     12   28  -40.1      -34.2  -25.5       0.0
22278  2020     12   29  -28.2      -23.9  -18.6       0.0
22279  2020     12   30  -21.8      -13.6   -9.9       0.8
22280  2020     12   31  -23.2      -19.0  -10.0       1.4

[22281 rows x 7 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22281 entries, 0 to 22280
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       22281 non-null  int64
 1   month      22281 non-null  int64
 2   day        22281 non-null  int64
 3   min_t      22255 non-null  float64
 4   average_t  22255 non-null  float64
 5   max_t      21717 non-null  float64
 6   rainfall   22253 non-null  float64
dtypes: float64(4), int64(3)
memory usage: 1.2 MB
info():
None

Год с наибольшим количеством пропусков: 1961
Таблица после объединение год, месяц, день:
       min_t  average_t  max_t  rainfall       date
0       -6.9       -5.4   -3.8       0.1 1960-01-01
1      -14.4      -10.0   -6.7       0.5 1960-01-02
2      -21.7      -19.7  -13.4       0.0 1960-01-03
3      -24.9      -21.4  -16.9       0.0 1960-01-04
4      -18.3       -8.0   -3.3       4.1 1960-01-05
...      ...        ...    ...       ...        ...
22276  -41.7      -36.3  -32.8       0.0 2020-12-27
22277  -40.1      -34.2  -25.5       0.0 2020-12-28
22278  -28.2      -23.9  -18.6       0.0 2020-12-29
22279  -21.8      -13.6   -9.9       0.8 2020-12-30
22280  -23.2      -19.0  -10.0       1.4 2020-12-31

[22281 rows x 5 columns]

Таблица после вычисление размаха температур и дней засухи:
       min_t  average_t  max_t  rainfall       date  RangeOfTemp  \
0       -6.9       -5.4   -3.8       0.1 1960-01-01          3.1
1      -14.4      -10.0   -6.7       0.5 1960-01-02          7.7
2      -21.7      -19.7  -13.4       0.0 1960-01-03          8.3
3      -24.9      -21.4  -16.9       0.0 1960-01-04          8.0
4      -18.3       -8.0   -3.3       4.1 1960-01-05         15.0
...      ...        ...    ...       ...        ...          ...
22276  -41.7      -36.3  -32.8       0.0 2020-12-27          8.9
22277  -40.1      -34.2  -25.5       0.0 2020-12-28         14.6
22278  -28.2      -23.9  -18.6       0.0 2020-12-29          9.6
22279  -21.8      -13.6   -9.9       0.8 2020-12-30         11.9
22280  -23.2      -19.0  -10.0       1.4 2020-12-31         13.2

       DaysWithoutRain
0                    0
1                    0
2                    0
3                    1
4                    2
...                ...
22276                1
22277                2
22278                3
22279                4
22280                0

[22281 rows x 7 columns]


Самый длинный период засухи: 27

Самый тёплый год: 2020

Самый холодный год: 1969

Год с наибольшим количеством осадков: 1970
Год с наименьшим количеством осадков: 1973

Наблюдения с средней температурой ниже -30:
       min_t  average_t  max_t  rainfall       date  RangeOfTemp  \
17     -31.4      -31.2  -27.2       0.0 1960-01-18          4.2
18     -35.8      -33.2  -29.7       0.0 1960-01-19          6.1
323    -31.3      -30.1    NaN       0.8 1960-11-19          NaN
361    -34.2      -30.2    NaN       0.0 1960-12-27          NaN
373    -36.2      -34.5    NaN       0.0 1961-01-08          NaN
...      ...        ...    ...       ...        ...          ...
21585  -38.0      -32.0  -24.3       0.0 2019-02-05         13.7
21588  -38.3      -32.8  -24.8       0.0 2019-02-08         13.5
22275  -35.5      -31.6  -23.4       0.0 2020-12-26         12.1
22276  -41.7      -36.3  -32.8       0.0 2020-12-27          8.9
22277  -40.1      -34.2  -25.5       0.0 2020-12-28         14.6

       DaysWithoutRain
17                   1
18                   2
323                  0
361                  1
373                  0
...                ...
21585                1
21588                4
22275                0
22276                1
22277                2

[241 rows x 7 columns]

Наблюдения с средней температурой выше 27 и количеством дней без осадков больше 3:
       min_t  average_t  max_t  rainfall       date  RangeOfTemp  \
1270    19.4       27.4   33.4       0.0 1963-06-24         14.0
2029    19.8       27.3   35.0       0.0 1965-07-22         15.2
3471    21.4       27.1   33.2       0.0 1969-07-03         11.8
3472    22.1       28.9   35.5       0.0 1969-07-04         13.4
3473    23.2       27.9   34.2       0.0 1969-07-05         11.0
5305    16.9       27.8   37.9       0.0 1974-07-11         21.0
6381    19.5       27.2   32.9       0.0 1977-06-21         13.4
8601    20.4       27.2   33.7       0.0 1983-07-20         13.3
10395   19.4       28.3   36.6       0.0 1988-06-17         17.2
11884   17.9       28.0   37.1       0.0 1992-07-15         19.2
15563   21.7       28.5   38.3       0.0 2002-08-11         16.6

       DaysWithoutRain
1270                 8
2029                 9
3471                 4
3472                 5
3473                 6
5305                18
6381                24
8601                 6
10395                6
11884                6
15563                9