In [ ]:
import pandas as pd

with open('a.txt', 'r') as file: #  считыем строки из файла, после чего заносим фамилию в ключ, класс в значение ключа
    data = {}
    for s in file:
        key, value = s.strip().split()
        data[key] = int(value)

series = pd.Series(data)

print(series)

print(f"\nУченики 8 класса:\n{series[series == 8]}")

series2 = series.apply(lambda x: x + 1)
print(f"\nУченики после перевода\n{series2}")

count = series2.value_counts()
print(f"\nКоличество учеников в каждом классе:\n{count}")

series3 = series[series.index.isin(['Avdeev', 'Leonov'])]
print(f"\nАвдеев и Леонов:\n{series3}")

Ivanov     7
Petrov     8
Orlov      9
Avdeev     8
Sidorov    9
Leonov     8
Gorohov    7
Sokolov    8
Morozov    8
Ketov      9
dtype: int64

Ученики 8 класса:
Petrov     8
Avdeev     8
Leonov     8
Sokolov    8
Morozov    8
dtype: int64

Ученики после перевода
Ivanov      8
Petrov      9
Orlov      10
Avdeev      9
Sidorov    10
Leonov      9
Gorohov     8
Sokolov     9
Morozov     9
Ketov      10
dtype: int64

Количество учеников в каждом классе:
9     5
10    3
8     2
dtype: int64

Авдеев и Леонов:
Avdeev    8
Leonov    8
dtype: int64

In [ ]:
import numpy as np

random_array = np.random.randint(1, 101, 20)
series = pd.Series(random_array)
print(series)

print(f"\nЭлементы с индексами от 5 до 10 включительно:\n{series[5:11]}")

print(f"\nЭлементы со значениями от 10 до 50:\n{series[(series >= 10) & (series <= 50)]}")

x = [int(input("\nВведите первое число: ")), int(input("\nВведите второе число: ")), int(input("\nВведите третье число: "))]
enterinseries = series[series.isin(x)].index
print(f"\nИндексы элементов с заданными значениями: {list(enterinseries)}")

print(f"\nТолько четные элементы:\n{series[series.apply(lambda x: x % 2 == 0)]}")

series[series > 70] = 0
print(f"\nРезультат после замены чисел на 0:\n{series}")

0      74
1      74
2      16
3      20
4       6
5      40
6      14
7     100
8      23
9      84
10     50
11     77
12     62
13     60
14     98
15     85
16      6
17     30
18     46
19     88
dtype: int64

Элементы с индексами от 5 до 10 включительно:
5      40
6      14
7     100
8      23
9      84
10     50
dtype: int64

Элементы со значениями от 10 до 50:
2     16
3     20
5     40
6     14
8     23
10    50
17    30
18    46
dtype: int64

Введите первое число: 16

Введите второе число: 46

Введите третье число: 50

Индексы элементов с заданными значениями: [2, 10, 18]

Только четные элементы:
0      74
1      74
2      16
3      20
4       6
5      40
6      14
7     100
9      84
10     50
12     62
13     60
14     98
16      6
17     30
18     46
19     88
dtype: int64

Результат после замены чисел на 0:
0      0
1      0
2     16
3     20
4      6
5     40
6     14
7      0
8     23
9      0
10    50
11     0
12    62
13    60
14     0
15     0
16     6
17    30
18    46
19     0
dtype: int64

In [ ]:
series = pd.Series([1, 2, np.NaN, 3, 4, np.NaN, 7, 8, np.NaN, 10])

print(series[series.notnull()])

print(f"\nSeries после извлечения квадратных корней из значений:\n{series.apply(lambda x: np.sqrt(x) if not np.isnan(x) else np.NaN)}")

print(f"\nSeries после замены пустых значений:\n{series.mask(series.isnull(), -1)}")

0     1.0
1     2.0
3     3.0
4     4.0
6     7.0
7     8.0
9    10.0
dtype: float64

Series после извлечения квадратных корней из значений:
0    1.000000
1    1.414214
2         NaN
3    1.732051
4    2.000000
5         NaN
6    2.645751
7    2.828427
8         NaN
9    3.162278
dtype: float64

Series после замены пустых значений:
0     1.0
1     2.0
2    -1.0
3     3.0
4     4.0
5    -1.0
6     7.0
7     8.0
8    -1.0
9    10.0
dtype: float64

In [ ]:
import pandas as pd
df = pd.read_csv('marks.csv', encoding = 'windows-1251', sep = ';')
print(f"Содержимое датасета:\n{df}")

print(f"\nОценки первых 50 учеников:\n{df.iloc[:50, [0, 2]]}")

wiki = pd.read_html('https://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D0%B3%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2_%D0%B8_%D0%B7%D0%B0%D0%B2%D0%B8%D1%81%D0%B8%D0%BC%D1%8B%D1%85_%D1%82%D0%B5%D1%80%D1%80%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D0%B9_%D0%95%D0%B2%D1%80%D0%BE%D0%BF%D1%8B',
                         match = 'Беларусь')

df = wiki[0]

#df.drop(['Флаг','Официальный язык(и)','Денежная единица','Площадь км²Место в мире','Население человекПлотность чел./км²','ВВП по ППП (млрд $)[18]ВВП по ППП на душу населения $[19]','Местоположение на карте',], axis = 1, inplace = True)

print(f"\n{df[['Название (Официальное название)', 'Столица']] }")

print(f"Количество строк и столбцов: {df.shape}")

Содержимое датасета:
          Фамилия      Имя  Математика  Русский язык  Иностранный язык
0    Абапольников    Роман           4             2                 2
1         Абрамов   Кирилл           3             5                 1
2         Авдонин  Николай           3             3                 3
3       Аверьянов   Никита           5             1                 1
4        Аветисян   Даниил           5             1                 4
..            ...      ...         ...           ...               ...
995      Яковенко     Иван           2             1                 1
996       Якунина     Юлия           5             2                 2
997      Янушевич   Леонид           1             5                 5
998    Ярославцев   Сергей           3             3                 3
999          Яшин   Андрей           4             3                 3

[1000 rows x 5 columns]

Оценки первых 50 учеников:
         Фамилия  Математика
0   Абапольников           4
1        Абрамов           3
2        Авдонин           3
3      Аверьянов           5
4       Аветисян           5
5      Авраменко           4
6        Авхачев           3
7       Агаркова           1
8      Агаханова           3
9          Агаян           3
10         Агеев           3
11   Адбухакимов           3
12       Азарова           4
13     Азеркович           4
14       Айбатов           3
15     Айрапетян           4
16        Акаева           4
17        Акопян           4
18      Аксаньян           4
19      Аксенова           3
20    Акципетров           2
21   Александров           2
22  Александрова           3
23      Алексеев           1
24     Алескеров           2
25       Алешина           3
26         Алиев           3
27        Алиева           2
28      Алимкина           1
29     Алиуллова           4
30   Аль-Шедиват           3
31        Алюшин           4
32       Аматуни           3
33      Ананичук           5
34       Андреев           4
35      Андреева           3
36     Андросова           1
37     Аникушина           3
38     Анненкова           2
39     Антоненко           2
40       Антонов           5
41      Антонова           3
42       Антонян           2
43     Антропова           1
44     Арзамасов           2
45    Аристархов           3
46    Артамонова           3
47     Артемьева           3
48      Аршинник           3
49    Асадуллаев           2

     Название (Официальное название)     Столица  Флаг
0     Беларусь (Республика Беларусь)       Минск   NaN
1     Болгария (Республика Болгария)       София   NaN
2                  Венгрия (Венгрия)    Будапешт   NaN
3      Молдавия (Республика Молдова)     Кишинёв   NaN
4         Польша (Республика Польша)     Варшава   NaN
5  Россия[22] (Российская Федерация)      Москва   NaN
6                  Румыния (Румыния)    Бухарест   NaN
7    Словакия (Словацкая Республика)  Братислава   NaN
8                  Украина (Украина)        Киев   NaN
9         Чехия (Чешская Республика)       Прага   NaN
Количество строк и столбцов: (10, 9)